/* Preview Carousel Height*/
.carousel-item img {
    max-height: 350px; /* input your desired height here */
    background-color: black;
}


/* CARD */ 
.product-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background-color .10s ease-in-out;
}

.product-card:hover{
    background-color: var(--main-white);
}

.product-card img{
    height: 250px;
}


/*Wishlist Button*/
.product-card i{
    display: none;
}

.card.product-card a.card-link{
    color: var(--main-color-alpha);
    border: solid .1rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    display: none;
}

.card.product-card a.card-link:hover{
    color: var(--main-color);
}

.card.product-card i{
    font-size: 1rem;
}

/**/

.card-price{
    color: var(--main-red);
}

.sale-box{
    width: 75px;
    background-color: var(--main-red);
    font-size: large;
    position: absolute;
    top: 25px;
    left: 0px;
    border-radius: 0%;
    z-index: 100;
}

.old-price{
    color: var(--main-color-alpha);
    font-size: smaller;
    font-weight: normal;
    text-decoration: line-through;
}

h3.old-price {
    font-size: large;
    text-decoration: line-through;
}

div .card-img-overlay.d-flex.justify-content-end{
    padding-bottom: .1em;
}

