.checkout-table{
    max-width: 1500px;
}

.checkout-table img{
    width: 50px;
    height: 50px;
}

.checkout-table{
    text-align: center;
}



.checkout-table a{
    color: var(--text-color-black);
}

.shopping-cart-h{ 
    margin: .5em .0em 1em 0em;
    padding: 0em .5em;
    
}

/*checkout menu*/
.checkout-menu{
    border-top: .1em var(--main-color-alpha);
}

.checkout-table span.total{
    color: var(--main-red);
}

.checkout-table tr.total{
    border-bottom: .2em solid; 
    border-color: var(--main-white );   
}

.checkout-table tr.total:hover{
    background-color: transparent;
    border-bottom: .2em solid; 
    border-color: var(--main-white );   
  
}
div.checkout-box thead th{
    font-weight: normal;

} 
.buttons {
    margin: 1em 4em;
}

.checkout-box{
    padding: 1em;
   
}


.payment-form{
    display: none;
}
#new-addr-form{
    display: none;
}

#new-payment-form{
    display: none;
}

.payment-form2{
    display: none;
}

#checkout-payment{
    display: none;
}

#checkout-confirm{
    display: none;
}




.checkout-form-steps h4.mb-3{
    font-weight: bold;
}

#change-button{
    background-color: var(--main-white);
    color:var(--main-color-alpha);
}

h6.shipping-method{
    font-weight: bold;
}

.confirmation-div{
    padding:  .5em 0em; 
}

.confirmation-div h4{
    padding:  .2em 0em; 
}

div.progress{ 
    padding: 0em;
}

.checkout-header{
    padding: 0em 1em;
}

.progress-checkout li{
    padding: 0em .2em;
    border-radius: 0%;
   
    
}

.progress-checkout li{
    border-radius: 0% !important;
}

.progress-checkout li.disabled button{
    color: var(--main-white);
}

.progress-checkout li button{
    color: var(--main-red-alpha);
    border-radius: 0% !important;
    border: solid .1em;
    
}

.progress-checkout li button:hover{
    color: var(--text-color-white);
    background-color: var(--main-red);
    
}


#checkout-items-list li{
    border-radius: 0%;
}

#move-buttons{
    padding: 0em 1em;
}




@media screen and (max-width: 768px) {
    #checkout-list{
        display: none;
    }

    .checkout-box{
        display: none; 
    }

    .mobile-checkout-box .li-item{
        width: 500px; 
    }

    .total{
        font-size: 1.5em;
        margin-bottom: .5em;
        margin-right: 1em;
        font-weight: bold;
    }

    .total .total-price{   
        color: var(--main-red);
        font-weight: bold;
    }

    #checkout-buttons-div{
        margin: 1em 2em;
        
    }

    div.li-price{
       padding: 0em 0em 0em 0.1em;
    }
    .mobile-checkout-box h5{
        color: var(--main-color);
        
        
    }

    .mobile-checkout-box .total-price{
        margin-left: 0.2em;
    }
   
}


@media screen and (min-width: 768px) {
    #confirm_cart{
        display: none;
    }


    .mobile-checkout-box{
        display: none; 
    }
}
