.search-box-category {
    max-height:12rem;
    overflow-y: scroll
}

.range-slider {
    position: relative;
    height: 35px;
    text-align: center;
}

.range-slider input {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 20px;
    outline: none;
    margin: 0;
    padding: 0;
}

.range-slider input::-webkit-slider-thumb {
    background: var(--main-red-alpha);
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
}

.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}
#filters{
    padding-left: 0em;
}
#filters label.mt-2,#filters label.mt-3,#filters label#priceRangeLabel,#filters label#inStockLabel {
    font-weight: bold;
}
#filters aside, #filters aside div *{ 
    border-radius: 0% !important; 
}

.custom-range::-moz-range-thumb, .custom-control-input::-moz-range-thumb{
    background-color: var(--main-red-alpha) !important;
    color: var(--main-red-alpha) !important;
    border-color: var(--main-red) !important;
    box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--main-red-alpha);
    border-color: var(--main-red-alpha);
    box-shadow: var(--main-color-alpha);
}

.custom-control-input:focus  ~ .custom-control-label::before {
    border-color: var(--menu-bot) !important;
    box-shadow: var(--main-color-alpha) !important;
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--menu-bot) !important;
    border-color: var(--menu-bot) !important;
}

#filters #categories,#filters #brands{
    border-color: var(--menu-bot) !important;
}


  #searchOrder *{
      border-radius: 0%;
  }

  #searchOrder .input-group-text{
      background-color: transparent;
      border-color: transparent;
  }

.order-icon{
    font-size: 1.5em;
    padding: 0em 0.2em ;
    color: var(--main-color-alpha);
}

.order-icon:hover{
    color: var(--main-color);
}