/* CARD */ 
.product-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}

.product-card img{
    height: 250px;
}

.product-card .card-body{
    align-items: center;
    text-align: center;
}   

.product-card i{
    display: none;
}


.card .card-body{
    /*padding: 0;*/
    border-color: black;
    border-top: solid .1rem;
}
.card.product-card a.card-link{
    color: var(--main-color-alpha);
    border: solid .1rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    display: none;
}

.card.product-card a.card-link:hover{
    color: var(--main-color);
}

.card.product-card i{
    font-size: 1rem;
}

.card.product-card .detail{
    display: inline;
}

.card-title{
    font-size: 1.2rem;
}

.card-price{
    color: var(--main-red);
    font-weight: bold;
    font-size: 1rem;
}

.sale-box{
    width: 75px;
    background-color: var(--main-red);
    font-size: large;
    position: absolute;
    top: 25px;
    left: 0px;
    border-radius: 0%;
    z-index: 100;
}

.old-price{
    color: var(--main-color-alpha);
    font-size: smaller;
    font-weight: normal;
    text-decoration: line-through;
}

.add-to-cart-btn{
    background-color: var(--main-red-alpha);
    color: var(--text-color-white);
    margin-top: 0;
    z-index: 200; 
}

.add-to-cart-btn:hover,.add-to-cart-btn:link, .add-to-cart-btn:enabled{
    background-color: var(--main-red);
    color: var(--text-color-white);
}

div .card-img-overlay.d-flex.justify-content-end{
    padding-bottom: .1em;
}


.card-item-description{
    /*
    text-overflow: ellipsis;
    white-space: nowrap; 
    height: 2.4em; 
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline; 
    */
}
