.checkout-table{
    max-width: 1500px;
}

.checkout-table img{
    width: 50px;
    height: 50px;
}

.checkout-table{
    text-align: center;
}



.checkout-table .btn{
    background-color: transparent;
    color: var(--main-color-alpha);
    border-color: transparent;
    
    padding: .5em;
}

.checkout-table .btn.btn.add-button:active, .checkout-table .btn.btn.sub-button:active, .checkout-table .btn.rmv-button:active{
    background-color: transparent;
    color: var(--main-color-alpha);
    border-color: transparent;
    color: var(--text-color-black);

}


.checkout-table .btn.add-button, .checkout-table .btn.sub-button{
    background-color:transparent ;
} 

.checkout-table a{
    color: var(--text-color-black);
}

.shopping-cart-h{ 
    margin: .5em .0em 1em 0em;
    text-transform: uppercase;
}

/*checkout menu*/
.checkout-menu{
    border-top: .1em var(--main-color-alpha);
}

.checkout-menu .checkout-btn{
    border-radius: 0%;
    background-color: var(--main-red-alpha);
    border: .2em solid ;
    color: var(--text-color-white);
    border-color: var(--main-red-alpha);
}

.checkout-menu .checkout-btn:hover{
    border-radius: 0%;
    background-color: var(--main-red);
    border: .2em solid ;
    color: var(--text-color-white);
    border-color: var(--main-red);
}

.checkout-menu .return-btn{
    border-radius: 0%;
    border: .2em solid ;
    color: var(--main-red-alpha);
    border-color: var(--main-red-alpha);
}

.checkout-menu .return-btn:hover{
    border-radius: 0%;
    border: .2em solid ;
    color: var(--main-red);
    border-color: var(--main-red);
    background-color: var(--main-white);
}

.checkout-table span.total{
    color: var(--main-red);
}

.checkout-table tr.total{
    border-bottom: .2em solid; 
    border-color: var(--main-white );   
}

.checkout-table tr.total:hover{
    background-color: transparent;
    border-bottom: .2em solid; 
    border-color: var(--main-white );   
  
}
div.checkout-box thead th{
    text-transform: uppercase;
    font-weight: normal;

} 
.buttons {
    margin: 1em 4em;
}

.checkout-box{
    padding: 1em;
   
}


.payment-form{
    display: none;
}
#new-addr-form{
    display: none;
}


#new_addr_btn{
    border-color:var(--main-red-alpha);
    border: solid .2em ;
    color: var(--main-red);
    border-radius: 0%;

}

#new_addr_btn, #return_addr_btn, #btn-next,#btn-prv, #btn-confirm{
    border-color:var(--main-red-alpha);
    border: solid .2em ;
    color: var(--main-red);
    background-color: transparent;
      border-radius: 0%;
}

#new_addr_btn:hover, #btn-next:hover,#btn-prv:hover, #btn-confirm:hover{
    border-color:var(--main-red-alpha);
    border: solid .2em ;
    color: var(--text-color-white);
    background-color: var(--main-red);
    border-color: var(--main-red);
    border-radius: 0%;

}

.checkout-form-steps h4.mb-3{
    font-weight: bold;
}

#change-button{
    background-color: var(--main-white);
    color:var(--main-color-alpha);
}

h6.shipping-method{
    font-weight: bold;
}

.confirmation-div{
    padding:  .5em 0em; 
}

.confirmation-div h4{
    font-weight: bold;
    padding:  .2em 0em; 
}
.checkout-form-steps .progress-bar{
    background-color: var(--main-red);
}

