@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*COLORS*/
:root{
    --main-color: #11151C;
    --main-color-alpha: #929497;
    --main-red: #731F20; 
    --main-red-alpha: #8C4748;
    --background-color: #F1F1F2;
    --text-color-black: #020203; 
    --text-color-white: #F1F1F2;
    --nav-color:  #262A30; 
    --main-white: #F1F1F2;
    --menu-top:#3C3F45;
    --menu-bot:#A8A9AC;
    --border-nav-bot: #dee2e6; 
}


/* COMMON  */
*{
    font-family: 'Roboto',sans-serif;
    color: var(--text-color);
}


/* BUTTON */
.button {
    border-radius: 0%;
    background-color: var(--main-red-alpha);
    color: var(--text-color-white);
    border-color: var(--main-red-alpha);
}

.button:hover {
    background-color: var(--main-red);
    color: var(--text-color-white);
    border-color: var(--main-red);
}

.button:active, .button:focus {
    background-color: var(--main-red-alpha) !important;
    color: var(--text-color-white) !important;
    border-color: var(--main-red-alpha) !important;
    box-shadow: 0 0 0 !important;
}

/* Secondary buttons */
.button-secondary {
    border-radius: 0%;
    background-color: transparent;
    color: var(--main-red-alpha);
    border-color: var(--main-red-alpha);
}

.button-secondary:hover {
    background-color: var(--main-red);
    color: var(--text-color-white);
    border-color: var(--main-red);
}

.button-secondary:active, .button-secondary:focus {
    box-shadow: 0 0 0 !important;
}

/* LINK / BUTTON */
.a_link {
    color: var(--main-red-alpha);
}

.a_link:hover {
    color: var(--main-red);
}

/*todo decide what to do about scrollbars later 
*::-webkit-scrollbar{
    display: none;
}
*/

body {
    padding-top: 100px;
}
