/*  */
.navbar-custom-top > button.navbar-toggler, .navbar-custom-top span.navbar-toggler-icon > *{
    background-color: var(--menu-top);
    color: white;
}
.navbar-custom-bot > button.navbar-toggler, .navbar-custom-bot span.navbar-toggler-icon > *{
    background-color: var(--menu-bot);
    color: white;
}

/* NAV BAR TOP */ 
.navbar-custom-top { 
    background-color: var(--main-color);
    padding: .4em 1em .4em 1em;  /*TODO center stuff*/
} 

.navbar-custom-top input.form-control{
    width:calc(100% - 50px);
}

.navbar-custom-top .nav-link{  
    color: var(--text-color-white);
}

.navbar-custom-top .nav-link:hover{  
    color: var(--main-color-alpha);
}

.navbar-custom-top .nav-item{
    padding: 0em .3em 0em .3em;
}

.navbar-custom-top .nav-item i{
    padding: 0em .3em 0em .0em;
}

/* Modify brand and text color */ 
.navbar-custom-top .navbar-brand, .navbar-custom-top .navbar-text, .navbar-custom-bot a{ 
    color: var(--text-color-white); 
} 
.navbar-custom-top.nav-link{ 
    color: var(--text-color-white); 
    /*filter: brightness(5%);*/
} 
.navbar-custom-top.nav-link:hover{ 
    color: var(--text-color-white);
    filter: brightness(85%);

} 
.navbar-custom-top .dropdown-menu{
    border-radius: 0;
    text-align: center;
}

.navbar-custom-top .btn {
    color: var(--text-color-white)!important; 
}

.navbar-custom-top .btn:hover{ 
    color: var(--text-color-white);
    filter: brightness(85%);

} 

.profile-pic-bubble{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-custom-top .dropdown-item:hover{
    background-color: var(--main-white);
}

.navbar-custom-top input.form-control{
   margin-right: 0; 
   border-radius: .2em .0em .0em .2em;
   border: none;
}
.navbar-custom-top button.btn.btn-outline-success{
    border-radius: .0em .2em .2em .0em;
    background-color: white;
    color: var(--text-color-black);
    border: none;
    padding: .43rem .7rem;
}
.navbar-custom-top button.btn.btn-outline-success:hover{
    background-color: var(--main-color-alpha);
    color: var(--text-color-white);
}

.list-cart{
    margin: .2em;
    max-height: 150px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border: none;
    margin-bottom: 1em;
}

.list-cart li{
    border: none;
    margin: .1em;
}

.cart-item-list-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cart-item-list{
    padding: .1em;
    padding-right: .5em;
    height: 60px;
}

.cart-item-list-name, .cart-item-list-name:hover{
    font-weight: bold;
    font-size: .8em;
    color: var(--text-color-black);
    
}

.dropdown-cart a:hover{
    text-decoration: none;
}

.cart-item-list-price{
    font-size: .8em;
    color: var(--main-red);
    border: none;
}

.cart-item-list-quant{
    background-color: var(--main-red);
}

.cart-list-total h5{
    display: inline;
}



.dropdown-cart{
    width: 225px;
}


.cart-list-total #total-label{
    font-weight: bold;
    font-size: .9em;
    text-decoration: none;
    color: var(--text-color-black);
  
}

.cart-list-total #price-total{
    color: var(--main-red);
    font-size: 1em;
    text-decoration: none
  
}

/* NAV BAR BOT */ 
/* Modify the backgorund color */ 
.navbar-custom-bot { 
    background-color: var(--background-color);
    padding: 0;

} 

.dropdown-cart a.checkout-button{
    background-color: var(--main-red-alpha);
    color: var(--text-color-white);
}

.dropdown-cart a.checkout-button:hover{
    background-color: var(--main-red)!important;
    color: var(--text-color-white);
}

/* Modify brand and text color */ 
.navbar-custom-bot .navbar-brand, .navbar-custom-bot .navbar-text,.navbar-custom-bot a { 
    color: var(--text-color-black); 
    font-size: .9em;
} 
.navbar-custom-bot .nav-link{ 
    color: var(--text-color-black); 
    /*filter: brightness(5%);*/
} 
.navbar-custom-bot .nav-link:hover{ 
    color: var(--text-color-black);
    filter: brightness(85%);

}
.dropdown a{
    background-color: transparent;
    border: 0;
}
.navbar-custom-bot ul li {
    background-color: transparent;
    color: var(--text-color-black);
    border-bottom: .2em solid var(--main-white);
    border-radius: 0px;
    border-left: .05em solid var(--border-nav-bot);
}

.navbar-custom-bot{
    text-align: center;
}

.navbar-custom-bot ul li:last-child { 
    border-right: .05em solid var(--border-nav-bot);
    
}

.navbar-custom-bot ul li:hover{
    background-color: transparent;
    color: var(--text-color-black);
    border-bottom: .2em solid var(--main-color);
    border-radius: 0px;
}

.navbar-custom-bot ul li a:hover{
    background-color: transparent;
    color: var(--text-color-black);
}

.navbar-custom-bot ul li div a:hover{
    background-color: var(--main-white);
    color: var(--text-color-black);
}

.dropdown>.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
    border-radius: 0;
  }
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
